<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://i.hizliresim.com/q1bhv4f.jpeg);"></a>
        <ul class="list-unstyled components mb-5">


            <li>
                <a href="/About/AboutList">Hakkımda</a>
            </li>

            <li>
                <a href="/Category/CategoryList">Kategoriler</a>
            </li>
            <li>
                <a href="/Contact/ContactTable">İletişim</a>
            </li>
            <li>
                <a href="/Education/EducationTable">Eğitimler</a>
            </li>
            <li>
                <a href="/Experiences/ExperienceTable">Deneyimler</a>
            </li>
            <li>
                <a href="/Introduction/IntroductionTable">Tanıtım Alanı</a>
            </li>
            <li>
                <a href="/Project/Index">Projeler</a>
            </li>
            <li>
                <a href="/SocialMedia/SocialMediaTable">Sosyal Medya</a>
            </li>
            <li>
                <a href="/Testimonials/TestimonialTable">Yorumlar</a>
            </li>
            <li>
                <a href="/Expertise/ExpertiseTable">Uzmanlık</a>
            </li>
        <li>
            <a href="/Statistics/StatisticTable">İstatistik</a>
        </li>
        </ul>
        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Telif hakkı &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>